<!--# layout("/common/layout.html",{"jsBase":"/js/cms/hbappUser/"}){ -->

<form class="layui-form layui-form-pane" id="updateForm">
    <div class="layui-row">
        <div class="layui-form-item">
            <div class="layui-inline">
            <label class="layui-form-label">用户名</label>
				<div class="layui-input-inline">
					<input type="text" id="userName" name="userName"  value="${hbappUser.userName}"   class="layui-input" >
				</div>
            </div>
            <div class="layui-inline">
            <label class="layui-form-label">密码</label>
				<div class="layui-input-inline">
					<input type="text" id="password" name="password"  value="${hbappUser.password}"   class="layui-input" >
				</div>
            </div>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
            <div class="layui-inline">
            <label class="layui-form-label">api_key</label>
				<div class="layui-input-inline">
					<input type="text" id="apiKey" name="apiKey"  value="${hbappUser.apiKey}"   class="layui-input" >
				</div>
            </div>
            <div class="layui-inline">
            <label class="layui-form-label">secret_key</label>
				<div class="layui-input-inline">
					<input type="text" id="secretKey" name="secretKey"  value="${hbappUser.secretKey}"   class="layui-input" >
				</div>
            </div>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
            <div class="layui-inline">
            <label class="layui-form-label">姓名备注</label>
				<div class="layui-input-inline">
					<input type="text" id="name" name="name"  value="${hbappUser.name}"   class="layui-input" >
				</div>
            </div>
        </div>
    </div>
	<!-- 业务对象须有hidden字段，保存delFlag和version字段-->
    <input type="hidden" name="id" value=${hbappUser.id} />
    <layui:submitButtons id="updateButton" />
</form>
<!--#} -->
<script>
layui.use(['edit'], function(){
    var hbappUserEdit = layui.edit
    hbappUserEdit.init();
});
</script>
