<!--#layout("/common/layout.html",{"jsBase":"/js/cms/hbappUser/"}){ -->
<layui:searchForm formId="searchForm"  condition="${search}">
</layui:searchForm>

<div class="layui-btn-group">
    <layui:accessButton function="hbappUser.add"  action="add">新增</layui:accessButton>
    <layui:accessButton function="hbappUser.del"  action="del">删除</layui:accessButton>
</div>

<table id="hbappUserTable" lay-filter="hbappUserTable"></table>
<!--#} -->
<script>

layui.use(['index'], function(){
    var index = layui.index
    index.init();
});

</script>
