<!--# layout("/common/layout.html",{"jsBase":"/js/hbapp/historyContract/"}){ -->

<form class="layui-form layui-form-pane" id="updateForm">
    <div class="layui-row">
        <div class="layui-form-item">
            <div class="layui-inline">
            <label class="layui-form-label">用户ID</label>
				<div class="layui-input-inline">
					<input type="text" id="userId" name="userId"  value="${historyContract.userId}"   class="layui-input" >
				</div>
            </div>
            <div class="layui-inline">
            <label class="layui-form-label">货币兑</label>
				<div class="layui-input-inline">
					<input type="text" id="contractCode" name="contractCode"  value="${historyContract.contractCode}"   class="layui-input" >
				</div>
            </div>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
            <div class="layui-inline">
            <label class="layui-form-label">净值</label>
				<div class="layui-input-inline">
					<input type="text" id="amount" name="amount"  value="${historyContract.amount}"   class="layui-input" >
				</div>
            </div>
            <div class="layui-inline">
            <label class="layui-form-label">货币单位</label>
				<div class="layui-input-inline">
					<input type="text" id="asset" name="asset"  value="${historyContract.asset}"   class="layui-input" >
				</div>
            </div>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
            <div class="layui-inline">
            <label class="layui-form-label">添加时间</label>
				<div class="layui-input-inline">
					<input type="text" id="createTime" name="createTime"  value="${historyContract.createTime}"   class="layui-input" >
				</div>
            </div>
            <div class="layui-inline">
            <label class="layui-form-label">添加整点：8，16，24</label>
				<div class="layui-input-inline">
					<input type="text" id="timeIndex" name="timeIndex"  value="${historyContract.timeIndex}"   class="layui-input" >
				</div>
            </div>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
            <div class="layui-inline">
            <label class="layui-form-label">收益的真实日期</label>
				<div class="layui-input-inline">
					<input type="text" id="timeDate" name="timeDate"  value="${historyContract.timeDate}"   class="layui-input" >
				</div>
            </div>
        </div>
    </div>
	<!-- 业务对象须有hidden字段，保存delFlag和version字段-->
    <input type="hidden" name="id" value=${historyContract.id} />
    <layui:submitButtons id="updateButton" />
</form>
<!--#} -->
<script>
layui.use(['edit'], function(){
    var historyContractEdit = layui.edit
    historyContractEdit.init();
});
</script>
