<!--# layout("/common/layout.html",{"jsBase":"/js/hbapp/contractInfo/"}){ -->

<form class="layui-form layui-form-pane" id="updateForm">
    <div class="layui-row">
        <div class="layui-form-item">
            <div class="layui-inline">
            <label class="layui-form-label">货币兑</label>
				<div class="layui-input-inline">
					<input type="text" id="contractCode" name="contractCode"  value="${contractInfo.contractCode}"   class="layui-input" >
				</div>
            </div>
            <div class="layui-inline">
            <label class="layui-form-label">对冲比例</label>
				<div class="layui-input-inline">
					<input type="text" id="contractSize" name="contractSize"  value="${contractInfo.contractSize}"   class="layui-input" >
				</div>
            </div>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
            <div class="layui-inline">
            <label class="layui-form-label">状态</label>
				<div class="layui-input-inline">
					<input type="text" id="contractStatus" name="contractStatus"  value="${contractInfo.contractStatus}"   class="layui-input" >
				</div>
            </div>
            <div class="layui-inline">
            <label class="layui-form-label">创建时间</label>
				<div class="layui-input-inline">
					<input type="text" id="createDate" name="createDate"  value="${contractInfo.createDate}"   class="layui-input" >
				</div>
            </div>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
            <div class="layui-inline">
            <label class="layui-form-label">deliveryTime</label>
				<div class="layui-input-inline">
					<input type="text" id="deliveryTime" name="deliveryTime"  value="${contractInfo.deliveryTime}"   class="layui-input" >
				</div>
            </div>
            <div class="layui-inline">
            <label class="layui-form-label">priceTick</label>
				<div class="layui-input-inline">
					<input type="text" id="priceTick" name="priceTick"  value="${contractInfo.priceTick}"   class="layui-input" >
				</div>
            </div>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
            <div class="layui-inline">
            <label class="layui-form-label">settlementDate</label>
				<div class="layui-input-inline">
					<input type="text" id="settlementDate" name="settlementDate"  value="${contractInfo.settlementDate}"   class="layui-input" >
				</div>
            </div>
            <div class="layui-inline">
            <label class="layui-form-label">supportMarginMode</label>
				<div class="layui-input-inline">
					<input type="text" id="supportMarginMode" name="supportMarginMode"  value="${contractInfo.supportMarginMode}"   class="layui-input" >
				</div>
            </div>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
            <div class="layui-inline">
            <label class="layui-form-label">币种</label>
				<div class="layui-input-inline">
					<input type="text" id="symbol" name="symbol"  value="${contractInfo.symbol}"   class="layui-input" >
				</div>
            </div>
        </div>
    </div>
	<!-- 业务对象须有hidden字段，保存delFlag和version字段-->
    <input type="hidden" name="id" value=${contractInfo.id} />
    <layui:submitButtons id="updateButton" />
</form>
<!--#} -->
<script>
layui.use(['edit'], function(){
    var contractInfoEdit = layui.edit
    contractInfoEdit.init();
});
</script>
