<!--#layout("/common/layout.html",{"jsBase":"/js/hbapp/contractInfo/"}){ -->
<layui:searchForm formId="searchForm"  condition="${search}">
</layui:searchForm>

<div class="layui-btn-group">
    <layui:accessButton function="contractInfo.add"  action="add">增加</layui:accessButton>
    <layui:accessButton function="contractInfo.edit"  action="edit">编辑</layui:accessButton>
    <layui:accessButton function="contractInfo.del"  action="del">删除</layui:accessButton>
</div>

<table id="contractInfoTable" lay-filter="contractInfoTable"></table>
<!--#} -->
<script>

layui.use(['index'], function(){
    var index = layui.index
    index.init();
});

</script>
