<!--# layout("/common/layout.html",{"jsBase":"/js/hbapp/historyProfit/"}){ -->

<form class="layui-form layui-form-pane" id="updateForm">
    <div class="layui-row">
        <div class="layui-form-item">
            <div class="layui-inline">
            <label class="layui-form-label">用户ID</label>
				<div class="layui-input-inline">
					<input type="text" id="userId" name="userId"  value="${historyProfit.userId}"   class="layui-input" >
				</div>
            </div>
            <div class="layui-inline">
            <label class="layui-form-label">当时年化收益率</label>
				<div class="layui-input-inline">
					<input type="text" id="profit" name="profit"  value="${historyProfit.profit}"   class="layui-input" >
				</div>
            </div>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
            <div class="layui-inline">
            <label class="layui-form-label">创建时间</label>
				<div class="layui-input-inline">
					<input type="text" id="createTime" name="createTime"  value="${historyProfit.createTime}"   class="layui-input" >
				</div>
            </div>
            <div class="layui-inline">
            <label class="layui-form-label">收益的真实日期yyyy-MM-dd</label>
				<div class="layui-input-inline">
					<input type="text" id="timeDate" name="timeDate"  value="${historyProfit.timeDate}"   class="layui-input" >
				</div>
            </div>
        </div>
    </div>
	<!-- 业务对象须有hidden字段，保存delFlag和version字段-->
    <input type="hidden" name="id" value=${historyProfit.id} />
    <layui:submitButtons id="updateButton" />
</form>
<!--#} -->
<script>
layui.use(['edit'], function(){
    var historyProfitEdit = layui.edit
    historyProfitEdit.init();
});
</script>
