<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<table cellpadding="0" cellspacing="0" style="border: 1px solid #cdcdcd; width: 640px; margin:auto;font-size: 12px; color: #1E2731; line-height: 20px;">
    <tbody>
    <tr style="background: #223151;">
        <td colspan="3" align="center" style="background-color:#223151; height: 55px; padding: 20px 0">
            <a href="https://www.hashhub.com" target="_blank">
                <img src="https://m.hashhub.com/static/images/public/mailLogo.png" style="width: 267px;height: 60px;" alt="HASHHUB">
            </a>
        </td>
    </tr>
    <tr style="height: 30px;"></tr>
    <tr>
        <td width="20"></td>
        <td style="line-height: 40px"> 您好：<br> <span th:text="${message}"></span><br> </td>
        <td width="20"></td>
    </tr>
    <tr style="height: 20px;"></tr>
    <tr>
        <td width="20"></td>
        <td> <br> HASHHUB 团 队<br> <a href="https://www.hashhub.com">https://www.hashhub.com</a><br> </td>
        <td width="20"></td>
    </tr>
    <tr style="height: 50px;" >
        <td colspan="3" align="center" style="border-bottom: 1px dashed #E3E3E3;">
        </td>
    </tr>
    <tr style="height: 30px;"></tr>
    <tr>
        <td width="20"></td>
        <td style="line-height: 40px"> Hello:<br> <span th:text="${enMessage}"></span><br> </td>
        <td width="20"></td>
    </tr>
    <tr style="height: 20px;"></tr>
    <tr>
        <td width="20"></td>
        <td> <br> HASHHUB Team<br> <a href="https://www.hashhub.com">https://www.hashhub.com</a><br> </td>
        <td width="20"></td>
    </tr>
    <tr style="height: 50px;"></tr>
    </tbody>
</table>
</body>
</html>